<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= post.post_type %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= post.genre %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= post.enabled %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= post.length %>
  </p>

</div>
